@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@300;400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

.App {
    text-align: left;
    background-color: #cfb97b;
    width: 100%;
    height: 100%;
}

body {
    background-color: #f9e0ba;
    width: 100%;
    height: 100%;
}


@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #cfb97b;
    color: rgb(11, 11, 68);
    padding: 24px;
    display: flex;
    flex-direction: column;
    font-size: 36px;
    font-family: 'Montserrat', sans-serif;
}

.All {
    background: #cfb97b;
    width: 100%;
    height: 100%;
}

.body-app {
    font-size: 24px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    margin-top: 120px;
}

.App-link {
    color: #61dafb;
}

.uploadSquare, .uploadSquareOnDrag {
    margin: 20px;
    padding: 20px;
    background-color: rgb(255, 238, 216);
    border: 4px dashed rgb(245, 199, 117);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    max-width: 700px;
    min-width: 300px;
    min-height: 300px;
    width: 80vw;
    height: 50vh;
    align-self: center;
}

.uploadSquareOnDrag{
    background-color: #86dcdc;
}

.uploadSquare2 {
    width: 70%;
    height: 80%;
    padding: 0;
    object-fit: contain;
}

.input_ {
    display: none;
}

.Button, .ProcessButton, .CancelButton, .backHome {
    background-color: rgb(227, 182, 81);
    border-radius: 100px;
    padding: 10px 30px 10px 30px;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    box-shadow: 0 0 5px grey;
    color: white;
}

.ProcessButton {
    background-color: rgb(87, 174, 6);
    color: white;
}

.CancelButton{
    background-color: #c6c6c6;
    color: #353535;
    margin-right: 20px;
}

.Nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.TopBar {
    top: 0;
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: 'Montserrat', sans-serif;
}

.TopBar .Logo {
    width: 500px;
    margin-top: 20px;
    margin-left: 20px;
    font-size: 30px;
    font-weight: bold;
    justify-content: flex-start;
    align-items: center;
    display: flex;
    flex-direction: row;
}

.Logo .LogoPic{
    height: 2em;
    margin-right: 20px;
}

.GroupMembers {
    position: absolute;
    display: flex;
    flex-direction: column;
    margin-top: -240px;
    right: 20px;
    transition: margin-top 0.5s ease-in-out;
}

.GroupMembers:hover {
    margin-top: 0;
}

.GroupMembers .MembersPlate {
    font-family: 'Prompt', sans-serif;
    font-size: 18px;
    font-weight: 300;
    color: white;
    padding: 20px;
    width: 300px;
    border-radius: 0 0 20px 20px;
    background-color: #786349;
    z-index: 2;
}

.GroupMembers .CatPaw {
    flex-direction: column;
    align-self: flex-end;
    transform: rotate(180deg);
    height: 130px;
    width: auto;
    margin-top: -20px;
    z-index: 1;
}

.UploadArea {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100vw;
    font-family: 'Montserrat', sans-serif;
}

.ChooseImageDialog {
    justify-content: center;
    display: flex;
    flex-direction: column;
    height: 80%;
    color: #757575;
}

.ChooseImageDialog img {
    fill: white;
    height: 150px;
    margin-left: 13px;
    filter: opacity(0.8);
    padding: 0;
}

.ChooseImageDialog span {
    margin-top: 20px;
}
.ActionButtonGroup{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}


/* --------------result--------------------- */
.resultGroup{
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    top: 15vh;
    height: 70vh;
    width: 100vw;
    min-height: 500px;
}


.resultArea {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 80vw;
    padding: 20px;
}

.boxImg {
    border-radius: 10px;
    height: 100%;
    width: 80%;
    margin-right: 20px;
    min-width: 100px;
    object-fit: cover;
}

.resultText{
    /*background-color: aqua;*/
    width: 100%;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
}

.boxTextResult {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    /* width: 500px;*/
    /* height: 100px; */
    /* position: relative; */
}

.boxTextHistory {
    /*background-color: rgb(255, 255, 255);*/
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-end;
    height: 100%;
}

.didYouKnow {
    border-radius: 10px 10px 0 0;
    background-color: rgb(250, 206, 126);
    padding: 10px 30px 10px 30px;
    height: 30px;
    /*color: white;*/
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1em;
}

.history {
    background-color: rgb(250, 206, 126);
    z-index: -1;
    border-radius: 10px;
    width: 90%;
    padding: 10px 20px 10px 20px;
    font-family: 'Montserrat', sans-serif;
}

.backHome {
    /* margin-top: 50%; */
}

.resultOutput{
    font-size: 7vw;
    font-weight: 500;
}


@media (max-width: 767px) {
    .LogoText{
        display: none;
        width: 100vw
    }
    .resultArea{
        flex-direction: column;
        width: auto;
    }
    .resultGroup{
        height: auto;
    }
    .resultOutput{
        font-size: 90px;
    }
    .boxImg{
        width: 100%;
        height: 50vh;
    }
}
