@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@300;400;600&display=swap');


.App {
  text-align: left;
  background-color: #cfb97b;
  width: 100%;
  height: 100%;
}

body {
  background-color: #cfb97b;
  width: 100%;
  height: 100%;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #cfb97b;
  color: rgb(11, 11, 68);
  padding: 24px;
  display: flex;
  flex-direction: column;
  font-size: 36px;
  font-family:'Recursive', sans-serif;
} 

.All{
  background: #cfb97b;
  width: 100%;
  height: 100%;
}

.body-app{
  font-size: 24px;
  text-align: center;
  font-family: 'Montserrat';
  margin-top: 120px;
}

.App-link {
  color: #61dafb;
}

.uploadSquare{
  margin: 20px;
  padding: 20px;
  background-color: rgb(226, 224, 224);
  border:4px dashed rgb(218, 175, 96);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  max-width: 700px;
  min-width: 300px;
  min-height: 300px;
  width: 80vw;
  height: 50vh;
  align-self: center;
}

.uploadSquare2{
  width: 70%;
  height: 80%;
  padding: 0;
  object-fit: contain;
}

.input_{
  display: none;
}

.Button, .ProcessButton{
  background-color :rgb(226, 177, 85);
  border-radius: 100px;
  padding: 10px 30px 10px 30px;
  font-family: 'Montserrat';
  font-size: 18px;
  cursor: pointer;
}

.ProcessButton{
  background-color : rgb(87, 174, 6);
  color: white;
}

.Nav{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.TopBar{
  position: absolute;
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: 'Montserrat';
}

.TopBar .Logo{
  margin-top: 20px;
  margin-left: 20px;
  font-size: 30px;
  font-weight: bold;
}

.GroupMembers{
  display: flex;
  flex-direction: column;
  margin-top: -220px;
  margin-right: 20px;
  transition: margin-top 0.5s ease-in-out;
}

.GroupMembers:hover{
  margin-top: 0;
}

.GroupMembers .MembersPlate{
  font-family: 'Prompt', sans-serif;
  font-size: 18px;
  font-weight: 300;
  color: white;
  padding: 20px;
  width: 300px;
  border-radius: 0px 0px 20px 20px;
  background-color: #786349;
  z-index: 2;
}

.GroupMembers .CatPaw{
  flex-direction: column;
  align-self: flex-end;
  transform: rotate(180deg);
  height: 130px;
  width: auto;
  margin-top: -20px;
  z-index: 1;
}

.UploadArea{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100vw;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
